<template name="forgot_password_screen">
    {{>navbar title="Request Password" left="CANCEL" internal=true right=option}}
    <form name="form">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">&#xE0BE;</i>
                <input id="icon_prefix" type="email" name="email">
                <label for="icon_prefix">Email</label>
            </div>
        </div>
    </form>
</template>
<template name="ResetPassword">
    {{>navbar title="Reset Password" left="CANCEL" internal=true right=option}} {{#if resetPassword}}
    <form class="resetPasswordForm" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password">
            </div>
            <div class="input-field col s12">
                <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password">
            </div>
        </div>
    </form>
    <!-- end #reset-password-form -->
    {{/if}}
</template>
