<template name="register_mode_screen">
    <div class="valign-wrapper">
        <div class="row">
		<div class="col s12 m12 l4">
 &nbsp;
</div>
            <div class="col s12 m12 l4">
             <h5 class="center">Register with us</h5> {{>register_mode}}
                 
              
                <div class="row">
                    <div class="col s12 center">
                        <a href="/"> Already have an Account?</a>
                    </div>
                   
                </div>
            </div>
			<div class="col s12 m12 l4">
 &nbsp;
</div>
        </div>
    </div>
</template>
