<template name="change_password_screen">
  {{>navbar title="Change Password" left="Cancel" right=option internal=true}}
  <br />
 <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="CURRENT PASSWORD" id="current_password" type="password" class="validate">
                    <label for="current_password">CURRENT PASSWORD</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="NEW PASSWORD" id="new_password" type="password" class="validate">
                    <label for="new_password">NEW PASSWORD</label>
                </div>
            </div>
            
            
           
			 
           
        </form>
    </div>
</template>