<template name="preloader">

  <div id="preloader_modal" class="modal">
    <div class="modal-content" style="text-align:center">
 
	  <h5 style="font-size:24px">Truckers for Truckers</h5>

    <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  
    </div>
    
  </div>
  </template>