<template name="login_screen">
    <div class="valign-wrapper">
        <div class="row">
 <div class="col s12 m12 l4">
 &nbsp;
</div> 
		   <div class="col s12 m12 l4">
                {{>appname}} {{>login}}
  
	
           <div class="row">
                    <div class="col s6 left">
                        <a href="/register-mode"> Register Now!</a>
                    </div>
                    <div class="col s6 right right-align">
                        <a href="/forgot-password">Forgot password?</a>
                    </div>
                </div>
            </div>
			<div class="col s12 m12 l4">
 &nbsp;
</div>
        </div>
    </div>

</template>
