<template name="navbar_bottom">
<div class="navbar navbar-inverse navbar-fixed-bottom">
<div class="icon-bar">
   <a href="javascript:void(0)" class="viewnotification"><div  id="bt_status">connecting...</div><i class="fa fa-bluetooth"></i></a> 
   <!-- <a href="javascript:void(0)" class="viewnotification"><div  id="bt_status">Malfunction</div><b id="Pmal">P</b> <b id="Emal">E</b> <b id="Lmal">L</b></a>  -->
   <a href="javascript:void(0)" class="viewreport"><div  id="bt_status">View Report</div><i class="fa fa-bar-chart"></i></a> 
<!--   <a href="#"><div  id="bt_status">connected</div><i class="fa fa-globe"></i></a>
  <a href="#"><div  id="bt_status">connected</div><i class="fa fa-trash"></i></a>  -->
</div>
</div>
</template>