<template name="bluetooth_screen">
    <div class="app">
        <h3>Pair Devices</h3>
        <button id="refreshButton">Refresh</button>
        <div id="mainPage">
            <ul id="deviceList">
            </ul>
        </div>
        <h3>UnPair Devices</h3>
        <div id="mainPageUnPair">
            <ul id="deviceListUnPair">
                </ul>
        </div>
        <div id="detailPage">
                    <div id="resultDiv"></div>
                    <div>
                        <input type="text" id="messageInput" value="Hello"/>
                        <button id="sendButton">Send</button>
                    </div>
                    <button id="disconnectButton">Disconnect</button>
        </div>
        <div id="statusDiv"></div>
    </div>
        <script type="text/javascript">

	        var app = {
			    initialize: function() {
			        this.bindEvents();
			        this.showMainPage();
			    },
			    bindEvents: function() {

			        var TOUCH_START = 'touchstart';
			        if (window.navigator.msPointerEnabled) { // windows phone
			            TOUCH_START = 'MSPointerDown';
			        }
			        document.addEventListener('deviceready', this.onDeviceReady, false);
			        refreshButton.addEventListener(TOUCH_START, this.refreshDeviceList, false);
			        sendButton.addEventListener(TOUCH_START, this.sendData, false);
			        disconnectButton.addEventListener(TOUCH_START, this.disconnect, false);
			        deviceList.addEventListener('touchstart', this.connect, false);
			        deviceListUnPair.addEventListener('touchstart', this.connect, false);
			    },
			    onDeviceReady: function() {
			        app.refreshDeviceList();
			    },
			    refreshDeviceList: function() {
			        bluetoothSerial.list(app.onDeviceList, app.onError);
			        bluetoothSerial.discoverUnpaired(app.onDeviceListUnPair, app.onError);
			    },
			    onDeviceList: function(devices) {
			        var option;
console.log("device execute");
			        // remove existing devices
			        //deviceList.innerHTML = "";
			        app.setStatus("");

			        devices.forEach(function(device) {

			            var listItem = document.createElement('li'),
			                html = '<b>' + device.name + '</b><br/>' + device.id;

			            listItem.innerHTML = html;

			            console.log(device);

			            if (cordova.platformId === 'windowsphone') {
			              // This is a temporary hack until I get the list tap working
			              var button = document.createElement('button');
			              button.innerHTML = "Connect";
			              button.addEventListener('click', app.connect, false);
			              button.dataset = {};
			              button.dataset.deviceId = device.id;
			              listItem.appendChild(button);
			            } else {
			              listItem.dataset.deviceId = device.id;
			            }
			            deviceList.appendChild(listItem);
			        });

			        console.log("deviceList");
			        console.log(deviceList);

			        if (devices.length === 0) {

			            option = document.createElement('option');
			            option.innerHTML = "No Bluetooth Devices";
			            deviceList.appendChild(option);

			            if (cordova.platformId === "ios") { // BLE
			                app.setStatus("No Bluetooth Peripherals Discovered.");
			            } else { // Android or Windows Phone
			                app.setStatus("Please Pair a Bluetooth Device.");
			            }

			        } else {
			            app.setStatus("Found " + devices.length + " device" + (devices.length === 1 ? "." : "s."));
			        }
			    },
			    onDeviceListUnPair: function(devices) {
			            var option;
console.log("UnPair execute");
			            // remove existing devices
			            //deviceListUnPair.innerHTML = "";
			            app.setStatus("");

			            devices.forEach(function(device) {

			                var listItem = document.createElement('li'),
			                    html = '<b>' + device.name + '</b><br/>' + device.id;

			                listItem.innerHTML = html;

			                console.log(device);

			                if (cordova.platformId === 'windowsphone') {
			                  // This is a temporary hack until I get the list tap working
			                  var button = document.createElement('button');
			                  button.innerHTML = "Connect";
			                  button.addEventListener('click', app.connect, false);
			                  button.dataset = {};
			                  button.dataset.deviceId = device.id;
			                  listItem.appendChild(button);
			                } else {
			                  listItem.dataset.deviceId = device.id;
			                }
			                deviceListUnPair.appendChild(listItem);
			            });

console.log("UnPair");
console.log(deviceListUnPair);


			            if (devices.length === 0) {

			                option = document.createElement('option');
			                option.innerHTML = "No Bluetooth Devices";
			                deviceListUnPair.appendChild(option);

			                if (cordova.platformId === "ios") { // BLE
			                    app.setStatus("No Bluetooth Peripherals Discovered.");
			                } else { // Android or Windows Phone
			                    app.setStatus("Please Pair a Bluetooth Device.");
			                }

			            } else {
			                app.setStatus("Found " + devices.length + " device" + (devices.length === 1 ? "." : "s."));
			            }

			        },
			    bin2string: function (array){
			    	var result = "";
			    	for(var i = 0; i < array.length; ++i){
			    		result+= (String.fromCharCode(array[i]));
			    	}
			    	return result;
			    },
			    connect: function(e) {
			        var onConnect = function(data) {


bluetoothSerial.subscribeRawData(function (data) {
                    var bytes = new Uint8Array(data);

                    app.onData(app.bin2string(bytes));

                    console.log("Raw data");
                    console.log(data);
                    console.log(bytes);
                    console.log(app.bin2string(bytes));
                }, function(err){
                    console.log("Raw data");
                    console.log(err)
                });
			                resultDiv.innerHTML = "";
			                app.setStatus("Connected");
			                app.showDetailPage();
			            };

						        var deviceId = e.target.dataset.deviceId;
			        if (!deviceId) { // try the parent
			            deviceId = e.target.parentNode.dataset.deviceId;
			        }

			        console.log("Start connect");
			        console.log(deviceId);
			        bluetoothSerial.connect(deviceId, onConnect, app.onError);
			    },
			    onData: function(data) { // data received from Arduino
			        console.log(data);
			        resultDiv.innerHTML = resultDiv.innerHTML + "Received: " + data + "<br/>";
			        resultDiv.innerHTML = resultDiv.innerHTML + "Received: " + bin2string(data) + "<br/>";
			        resultDiv.scrollTop = resultDiv.scrollHeight;
			    },
			    sendData: function(event) { // send data to Arduino

			        var success = function() {
			            console.log("success");
			            resultDiv.innerHTML = resultDiv.innerHTML + "Sent: " + messageInput.value + "<br/>";
			            resultDiv.scrollTop = resultDiv.scrollHeight;
			        };

			        var failure = function() {
			            alert("Failed writing data to Bluetooth peripheral");
			        };

			        var data = messageInput.value+"\r";

        			// ble.write(connectedDeviceId, "FFF0", "FFF2", data.buffer, success, failure);
        			bluetoothSerial.write(data, success, failure);
			    },
			    disconnect: function(event) {

			    	bluetoothSerial.disconnect(app.showMainPage, app.onError);
			    },
			    showMainPage: function() {
			        mainPage.style.display = "";
			        detailPage.style.display = "none";
			    },
			    showDetailPage: function() {
			        mainPage.style.display = "none";
			        detailPage.style.display = "";
			    },
			    setStatus: function(message) {
			        console.log(message);

			        window.clearTimeout(app.statusTimeout);
			        statusDiv.innerHTML = message;
			        statusDiv.className = 'fadein';

			        // automatically clear the status with a timer
			        app.statusTimeout = setTimeout(function () {
			            statusDiv.className = 'fadeout';
			        }, 5000);
			    },
			    onError: function(reason) {
			        console.log("Error");
			        console.log(reason);
			        alert("ERROR: " + reason); // real apps should use notification.alert
			    }
			};
            app.initialize();
        </script>
</template>