<template name="tabbar">
    <div class="row">
        <div class="col s12">
           <!-- <ul class="tabs" style="position: fixed;z-index:997;margin-left:-15px;margin-top:2px">-->
		   <ul class="tabs" >
                <li class="tab col s3">
{{#if equals active_tab "tab1"}}                   
				   <a href="#test1" id="tab1" class="active">
                        Log <i class="material-icons prefix error_alert" id="error_to" style="font-size:16px">
						&#xE001;
						</i>
                    </a>
{{else}}
 <a href="#test1" id="tab1">
                        Log <i class="material-icons prefix error_alert" id="error_to" style="font-size:16px">&#xE001;</i>
                    </a>
					{{/if}}
                </li>
                <li class="tab col s3">
{{#if equals active_tab "tab2"}}    
  <a  href="#test2" id="tab2" class="active">
                        Form
                    </a>
{{else}}
<a  href="#test2" id="tab2">
                        Form
                    </a>
{{/if}}
                </li>
                <li class="tab col s3">
{{#if equals active_tab "tab3"}}    
					<a href="#test3" id="tab3" class="active">
                        DVIR
                    </a>
{{else}}
					<a href="#test3" id="tab3">
                        DVIR
                    </a>

{{/if}}
                </li>
                <li class="tab col s3">
{{#if equals active_tab "tab4"}}                    
				  <a href="#test4" id="tab4" class="active">
                        Sign
                    </a>
{{else}}
				  <a href="#test4" id="tab4">
                        Sign
                    </a>

{{/if}}
                </li>
            </ul>
        </div>
        <div class="col s12" id="test1">
         
        </div>
        <div class="col s12" id="test2" style="margin-top: 48px">
            {{>form}}
        </div>
        <div class="col s12" id="test3" style="margin-top: 48px">
            {{>dvir}}
        </div>
        <div class="col s12" id="test4" style="margin-top: 48px">
            {{>sign_log}}
        </div>
    </div>
</template>
